<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="conexion" connectionString="data source=C:\Users\majimenezp\Documents\Visual Studio 2010\Projects\Presentaciones\Nancy\EjemploAspNet\BasedeDatos.s3db;"
          providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>
